# Virtual environments
.venv/
venv/
mi_entorno/

# Python cache
__pycache__/
*.py[cod]
*.pyc

# Databases
*.db
*.sqlite3

# Build / dist
dist/

# Logs & temp
*.log

# IDE / OS
.DS_Store
.env
.idea/
.vscode/

# Tools
*.sqbpro
*.xlsx

# OpenCV cache
opencv_cache/

# Project-specific
src/img/personas
database/bunny_detect.db
