# .gitignore

# Entorno virtual
.venv/
venv/
mi_entorno/

# Dlib
dlib/

# Carpeta de compilacion con pyinstaller
dist/

# Archivos de Python compilados
__pycache__/
*.py[cod]
*.db
*.pyc

# Configuraciones del sistema o IDE
*.log
*.sqlite3
.DS_Store
.env
.idea/
.vscode/

*.xlsx

# Archivos de dependencia de MediaPipe y OpenCV
opencv_cache/

src/img/personas

database/bunny_detect.db
*.pyc
